*{
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;

    --objectCard-background: rgb(26, 25, 25);
    --Webb-title-light-blue: rgb(3, 28, 173);
    --Webb-title-blue: rgb(1, 15, 97);
    --Webb-title-purple: rgb(119, 11, 125);
}

body {
     background-color: black;
     background: linear-gradient(to bottom, black, var(--Webb-title-blue));;
}

.no-show {
     display: none;
}

header {
     display: flex;
     justify-content: space-between;
}

header > h1 {
     color: white;
     margin: 25px 50px 75px 200px;     
     font-size: 80px;
     background: linear-gradient(to right, var(--Webb-title-light-blue), var(--Webb-title-purple));
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
}

#searchBar {
     border-radius: 10px;
     margin: 50px 150px 75px 100px;     
     height: 40px;
     width: 550px;
     padding: 10px;
     font-size: 30px;
     border-color: blue;
     color: blue;
}

/* #home-view {
     display: flex;
     flex-direction: column;
     align-items: center;
} */

#home-view h2 {
     color: white;
     margin-bottom: 10px;
     font-size: 30px;
}

.popularContainer, .topTenContainer {
     display: flex;
     flex-direction: column;
     margin: 30px;
     margin-bottom: 50px;
}

.movie-card {
     display: flex;
     flex-direction: column;
     background-color: rgb(26, 25, 25);
     margin-right: 25px;
}

.movie-card > img {
     width: 200px;
}

.movie-card > div{
     display: flex;
}

.movie-card > div > p, .movie-card > p{
     color: white;
     margin: 5px;
     font-size: 20px;
}

.movie-card > p:last-child {
     color: grey;
}

.topTen {
     display: flex;
}

.popular {
     display: flex;
}

.dropdown {
     position: relative;
     display: inline-block;
     margin-left: 100px;
}

.dropdown-btn {
     background-color: black;
/*      border: 2px solid white;
 */     height: 50px;
     width: 200px;
     cursor: pointer;
     font-size: 25px;
     border-radius: 10px;
     color: white;
}

.dropdown-btn:hover {
     background-color: var(--Webb-title-purple);
     color: black;
}

.dropdown-content {
     display: none;
     position: absolute;
     background-color: white;
     min-width: 200px;
     border: 1px solid black;
     z-index: 1;
}

.dropdown-content div {
     color: black;
     padding: 12px 16px;
     display: block;
     cursor: pointer;
}

.dropdown-content div:hover {
     background-color: blue;
}

.show {
     display: block;
}

.borderBtn {
     border-radius: 10px 10px 0px 0px;
}

.search-content {
     display: flex;
}